@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Noto+Sans+KR&display=swap');
/* reset */
* {margin: 0;padding: 0; box-sizing: border-box;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; font-size: inherit;}
a {color: inherit; text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
a:focus {outline: none}
button:focus {outline: none}dn

/* layout */
body {font-family: 'Noto Sans KR', sans-serif; font-size: 14px; color:#333;}
body.on {background: #e8fcff; transition: all 0.4s;} 
.wrap {position: relative; margin: auto; overflow: hidden;}
.en {font-family: 'handel gothic', sans-serif;}
.en_s {font-family: 'Dancing Script', cursive;}

/* innerHeader */
.innerHeader {max-width: 90%; margin:0 auto; height: 110px; line-height: 110px; display: flex; justify-content: space-between; }
.innerHeader .logo a {display: block; width: 100%; height: 100%; }
.innerHeader .mainMenu { width: 50%; display: flex; justify-content: space-between; position: relative;}
.innerHeader .mainMenu .bar {position: absolute; left: 0; bottom:40px; width: 0%; height: 3px; background: #333; transition: all 0.4s;}
.innerHeader .mainMenu .gnb {display: flex; width: 50%;}
.innerHeader .mainMenu .gnb li {margin: 0 20px;}
.innerHeader .mainMenu .sns {display: flex; width: 25%;}
.innerHeader .mainMenu .sns li {width: 25%; text-align: right;}

/* 공통요소 */
.tit {font-size: 50px;}
.tit span {display: block;}
.tit span b {font-weight: normal; overflow: hidden;}
.tit span.en_s {font-size: 22px; font-weight: normal;}
.tit span.gray {color:#ccc;}
.txt p {color:#888; line-height: 1.6; margin-bottom: 10px;}
.txt p b {font-weight: normal; overflow: hidden;}
.moreBtn {display: inline-block; color:#333; position: relative; padding-left: 45px; transform: skewX(-12deg) translateX(5px); transition: all 0.15s;}
.moreBtn::before {content: ''; background: #333; width: 42px; height: 1px; position: absolute;left: 0; top:54%;}
.moreBtn:hover, .moreBtn:focus { transform: skewX(0deg) translateX(0px); }
.inner {width: 1320px; margin: auto; display: flex; justify-content: space-between; flex-wrap: wrap;}
.inner .box {width: 50%;}


.visual {max-width: 90%; margin: auto; display: flex;}
.visual .mainImg{ width: 50%;}
.visual .mainImg img {width: 90%;}
.visual .mainTxt{width: 50%;margin-top: 180px;}
.visual .mainTxt .tit {font-size: 72px;}
.visual .mainTxt .txt {padding: 50px 0 0 70px;}

/* journal */
.journal {position: relative; padding:190px 0 120px;}
.journal .scroll {position: absolute; left: 50%; top:-20px; transform: translateX(-50%); text-transform: uppercase;font-size: 10px; letter-spacing: 5px;writing-mode: vertical-lr; padding-top: 90px; }
.journal .scroll::before {content: ''; position: absolute; height: 75px; width: 1px; background: #333; top:0; left: 6px;}
.journal .box .img {padding-top: 100px;}
.journal .box .tit {margin-bottom: 40px;}
.journal .box ul {border-top: 1px solid #e6e6e6; padding-top: 40px;}
.journal .box ul li {margin-bottom: 30px; display: flex;}
.journal .box ul li h3 {width: 22%; font-size: 15px; }
.journal .box ul li p {color:#888;}

/* service */
.service {padding: 190px 0;}
.service .inner .box .img {margin-top: 60px;}
.service .inner .box.design {width: 45%; margin-top: -40%; border-top: 1px solid #c4e5ea; padding-top: 60px;}
.service .inner .box.design .tit b{font-size: 30px; line-height: 1.4; margin-bottom: 20px;}

/* customer */
.customer {background: url(../img/img_04.jpg) no-repeat center/cover; padding:160px;  text-align: center;}
.customer .tit {color:#fff; font-size: 40px; margin-bottom: 10px;}
.customer .txt {color:#777;}

/* team */
.team {padding: 190px 0; position: relative;}
.team .inner .box.left {text-align: right; padding-right: 80px;}
.team .inner .box .tit {margin-top: 40px;}
.team .inner .box .img {margin-top: 100px;}
.team .inner .box .txt {margin:30px 0;}

/* footer */
footer {width: 1320px; margin: auto;}
footer .top .tit {text-align: center; color:#e6e6e6;font-size: 62px; margin-bottom: 40px;}
footer .bottom {border-top: 1px solid #e6e6e6; padding: 40px 0 100px}
footer .bottom ul {display: flex; justify-content: space-between;flex-wrap: wrap;}
footer .bottom ul li {width: 23%; color:#aaa; font-size: 12px; line-height: 2;}
footer .bottom ul li:nth-child(1) {width: 31%; font-size: 28px; color:#000; line-height: 1.1;}
footer .bottom ul li b { font-weight: normal; font-size:14px; display:inline-block; color:#000; margin-bottom: 12px;}
footer .bottom ul li b:nth-child(1) {display: inline-block; margin-bottom: 12px;}
footer .bottom ul li:nth-child(3) {line-height: 1.2;}

/* circleBox */
.circleBox {transform: rotate(-90deg);}
.circleBox .svgAni path {stroke: #f5f5f5; stroke-width: 25; fill: none; stroke-dashoffset: 0; stroke-dasharray: 1564;}
/* stroke-dashoffset = 대시의 시작점 / stroke-dasharry = 끝나는점(총길이)  !!svg 이 두가지는 필수!!*/


/* animation */

@keyframes dash {
    0% {stroke-dashoffset: 1564;}
    100% {stroke-dashoffset: 0;}
}
.circleBox.motion .svgAni path {animation-name: dash; animation-duration: 1.5s;}
.journal .circleBox {position: absolute; right: 13%; top: 100px; z-index: -1;}
.team .circleBox {position: absolute; right: 20%; top: -50px; z-index: -1;}

@keyframes textAni {
    0% {opacity: 0;}
    30% {opacity: 0; transform: translate3d(0,40px,0) skewY(8deg); transform-origin: top left;}
}
/* transform-origin...은 위랑 왼족은 고정..?히겟다..?*/

@keyframes imgAni {
    0%{transform: translateY(50px);}
}





.tit.motion span{transform: translate3d(0,0,0) skewY(0deg); overflow: hidden;}
/* 타이틀에 모션이 붙을 때 스팬은  xyz모두 3d-> 자기 자리로 오겠다 히든..감추겠다..?*/
.tit.motion span b {display: block; animation-name: textAni; animation-duration: 1.3s;}

.tit span {transform:translate3d(0,0,0) skewY(0deg); overflow: hidden;}
.tit span b {display: block; animation-name: textAni; animation-duration: 1.3s; transform-origin:left;}

.txt.motion p{transform: translate3d(0,0,0) skewY(0deg); overflow: hidden;}
.txt.motion p b{display: block; animation-name: textAni; animation-duration: 1.3s;}

.img.motion {animation-name: imgAni; animation-duration: 1s; position: relative;}

@keyframes mask {
    0%{height: 90%;}
}

.img.motion:after {content: ''; width: 100%; height: 0%; background: #fff; position: absolute; top: 0; left: 0; animation-name: mask; animation-duration: 1.2S;}

.service .img.motion:after {background: #e8fcff;}

/* menuOpen */
.menuOpen button.open {position: fixed; right: 0; top: 50%; transform: translateY(-50%); border: none; padding: 30px 22px; background: none; z-index: 200;}
.menuOpen button.open::before{content: ''; width: 100%; height: 100%; background: #f5f5f5;position: absolute; top: 0; right:-100%;z-index: -1; transition: all 0.5s;}
.menuOpen button.open:hover:before, .menuOpen button.open:focus:before {right: 0; cursor: pointer;}

/* menuWrap */
.menuOpen .menuWrap {width: 100%; background: #eee; height: 100vh; position: fixed; top:0; right: 0; z-index:100;}
.menuOpen .menuWrap .tit {color:#ccc; position: absolute; top: 50%; left: 25%; transform: translateY(-50%); font-size: 60px;}
.menuOpen .menuWrap .tit a {display:inline-block; margin-bottom:20px; position: relative; transition: all 0.3s;}
.menuOpen .menuWrap .tit a::after {position: absolute; left: 0; bottom: -5px; width: 0%; height: 2px; background: #333; content:''; transition:all 0.3s;}
.menuOpen .menuWrap .tit a:hover:after, .menuOpen .menuWrap .tit a:focus:after {width: 100%;}
.menuOpen .menuWrap .tit a:hover, .menuOpen .menuWrap .tit a:focus {transform:translateX(30px); color: #333;}
.menuOpen .menuWrap .close:nth-child(1) {position: absolute; top: 50%; transform: translateY(-50%); left: 30px;}
.menuOpen .menuWrap .close.en {position: absolute; right:50px; top:50px; font-size:25px; border-bottom:1px solid #888; color:#888;}
.menuOpen .menuWrap::before {content:''; width: 700px; height: 700px; background: #fff; border-radius:50%; position: absolute; left: 30%; top: 50%; transform: translateY(-50%);}
.menuOpen .menuWrap {width: 0; opacity: 0; transform: skewY(40deg); transition: all 0.3s;}
.menuOpen .menuWrap.on {width: 100%; opacity: 1; transform: skewY(0deg); transition: all 0.5s;}

/* menuwrap tit애니메이션 진행을 늦추는법 */
.menuOpen .menuWrap ul {display: none;}
.menuOpen .menuWrap.on ul {display: none;}
.menuOpen .menuWrap.on:before {animation-name: menuWrap2; animation-duration: 1.8s;}

@keyframes menuWrap2 {
0% {opacity: 0;}
40% {opacity: 0; transform: translateY(-50%) scale(0.5);}
}













